<app-base-layout>
  <div>
    <hgroup>
      <h1>Log in</h1>
      <h2>Login page using CaptchaFox</h2>
    </hgroup>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <input
        type="text"
        name="login"
        placeholder="Login"
        aria-label="Login"
        auto-complete="nickname"
        required
        ngModel
      />
      <input
        type="password"
        name="password"
        placeholder="Password"
        aria-label="Password"
        auto-complete="current-password"
        required
        ngModel
      />
      <fieldset>
        <label html-for="remember">
          <input id="remember" type="checkbox" role="switch" name="remember" ngModel />
          Remember me
        </label>
      </fieldset>
      <fieldset>
        <!-- Uses sitekey from global config -->
        <ngx-captchafox ngModel name="captchaToken" required />
      </fieldset>
      <button type="submit" [disabled]="!loginForm.form.valid">Login</button>
    </form>
  </div>
</app-base-layout>
