<main class="container examples">
  <div class="grid">
    <a routerLink="/basic">
      <article>
        <hgroup>
          <h1>Basic</h1>
          <h2>Simple example using a form element</h2>
        </hgroup>
      </article>
    </a>
    <a routerLink="/reactive">
      <article>
        <hgroup>
          <h1>Reactive Forms</h1>
          <h2>Example using ReactiveFormsModule</h2>
        </hgroup>
      </article>
    </a>
    <a routerLink="/template">
      <article>
        <hgroup>
          <h1>Template Forms</h1>
          <h2>Example using template driven forms</h2>
        </hgroup>
      </article>
    </a>
    <a routerLink="/service">
      <article>
        <hgroup>
          <h1>Service</h1>
          <h2>Example using the CaptchaFoxService</h2>
        </hgroup>
      </article>
    </a>
  </div>
</main>
